
<h1><p align="center">Edit best selling songs in the world</p></h1>
<table class="table bg-dark text-white">
    <thead>
        <tr>
            <th>Country</th>
            <th>Year</th>
            <th>Album</th>
            <th>Artist</th>
            <th>Sale</th>
        </tr>
    </thead>
    
    <tbody>
        <tr>
           
            <td>{{UpdatedWorld.country}}</td>
            <td>{{UpdatedWorld.year}}</td>
            <td><input class="form-control" ng-model="UpdatedWorld.album"/></td>
            <td><input class="form-control" ng-model="UpdatedWorld.artist"/></td>
            <td><input class="form-control" ng-model="UpdatedWorld.sale"/></td>
            <td><button class="btn btn-primary" ng-click="UpdateWorld()">Update</button>
            </td>
        </tr>
       
        
    </tbody>
</table>
<hr/>
<div>
    <p align="center"><a href="/"><button class="btn btn-warning">Inicio</button></a> <a href="/#!/world-stats"><button class="btn btn-danger">Back</button></a></p>
    
    
</div>
<div>{{status}}</div>