
<h1><p align="center">Edit best selling songs in the world</p></h1>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb bg-dark">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/#!/world-stats">World stats</a></li>
    <li class="breadcrumb-item active text-white" aria-current="page">Update item</li>
  </ol>
</nav>


<table class="table bg-dark text-white">
    <thead>
        <tr>
            <th>Country</th>
            <th>Year</th>
            <th>Album</th>
            <th>Artist</th>
            <th>Sale</th>
        </tr>
    </thead>
    
    <tbody>
        <tr>
           
            <td>{{UpdatedWorld.country}}</td>
            <td>{{UpdatedWorld.year}}</td>
            <td><input class="form-control" ng-model="UpdatedWorld.album"/></td>
            <td><input class="form-control" ng-model="UpdatedWorld.artist"/></td>
            <td><input class="form-control" ng-model="UpdatedWorld.sale"/></td>
            <td><button class="btn btn-primary" ng-click="UpdateWorld()">Update</button>
            </td>
        </tr>
       
        
    </tbody>
</table>
<hr/>

<div>{{status}}</div>