<!---LA VISTA--->
<h1><p align="center">Best selling songs</p></h1>
 
<nav aria-label="breadcrumb" >
  <ol class="breadcrumb bg-dark text-white" >
    <li class="breadcrumb-item text-white"><a href="/">Home</a></li>
    <li class="breadcrumb-item active text-white" aria-current="page">World stats</li>
  </ol>
</nav> 
 
<table class="table bg-dark text-white"> <!---para cambiar la vista--->
    <thead>
        <tr> <!---permite colocar el titulo de cada atributo--->
            <th>Country</th>
            <th>Year</th>
            <th>Album</th>
            <th>Artist</th>
            <th>Sale</th>
        </tr>
    </thead>
    <tbody>
        <tr> <!---permite introducir valores a los atributos anterios--->
            <td><input class="form-control" ng-model="newWorld.country"/></td>
            <td><input class="form-control" ng-model="newWorld.year"/></td>
            <td><input class="form-control" ng-model="newWorld.album"/></td>
            <td><input class="form-control" ng-model="newWorld.artist"/></td>
            <td><input class="form-control" ng-model="newWorld.sale"/></td>
            <td><button class="btn btn-primary" ng-click="addWorld()">Add</button>
            </td>
        </tr>
       
        <!---INTRODUCIMOS CADA VALOR ESCRITO EN SU CAMPO CORRESPONDIENTE--->
        <tr ng-repeat="world in worldStats">  <!---ng-repeat...por cada elemento de un array puede generAR un elemento dentro de la vista--->
        <!---vamos iterando el array y crea el objeto--->
            <td>{{world.country}}</td> <!---con {{ }} lo que hago es poner el dato--->
            <td>{{world.year}}</td>
            <td>{{world.album}}</td>
            <td>{{world.artist}}</td>
            <td>{{world.sale}}</td>
            
            <!---botón de eliminar, enlazado con la funcion deleteWorld,pasandole como atributos los campos country y year--->
            <td><button class="btn btn-danger" ng-click="deleteWorld(world.country,world.year)">Delete</button></td>
            <!---botón de update(put), en mi dirección de la api, pasandole los camps country and year--->
            <td><a href="/#!/world-stats/{{world.country}}/{{world.year}}"><button class="btn btn-secundary" >Update</button></a></td>
           
        </tr>
       <tr >
            <td>From: <input class="form-control" ng-model="from"/></td>
            <td>To: <input class="form-control" ng-model="to"/> </td>
            <td><button class="btn btn-secundary" ng-click="Busqueda(from,to)">Buscar</button></td>
            <td></td>
            <td></td>
            <!---botón que invoca a la funcion deleteAll--->
            <td><button class="btn btn-danger" ng-click="deleteAll()">Delete All</button></td>
            <td><button class="btn btn-secundary" ng-click="loadInitialData()">Load Initial Data</button></td>
            
            <!---class= btn btn danger... nos indica el color en rojo--->
            
        </tr>
    </tbody>
</table>
<hr/>
<div>

      Contraseña: <input  ng-model="apikey"/>   <button class="btn btn-secundary" ng-click="seguro(apikey)"> Aceptar </button>
      

</div>
    <!---botón que invoca a la funcion getSiguiente y getAnterior----PAGINACION--->
    
    <!---<p align="center"><button class="btn btn-success" ng-click="getAnterior()"></p> --->
    <p align="center"><button class="btn btn-secundary" ng-click="getAnterior()"> < </button> <a href="/"><button class="btn btn-warning">Inicio</button></a> <button type="button" class="btn btn-warning" ng-click="getCompleto()">Api Completa</button> <button class="btn btn-secundary" ng-click="getSiguiente()"> > </button></p>

<div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>


<div>{{status}}</div>
