<h1><p align="center"> Best Songs</h1>
<table class="table">
    <thead>
        <tr>
            <th>Country</th>
            <th>Year</th>
            <th>Album</th>
            <th>Radio</th>
            <th>Song</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input class="form-control" ng-model="newBest.country"/></td>
            <td><input class="form-control" ng-model="newBest.year"/></td>
            <td><input class="form-control" ng-model="newBest.album"/></td>
            <td><input class="form-control" ng-model="newBest.radio"/></td>
            <td><input class="form-control" ng-model="newBest.song"/></td>
            <td><button class="btn btn-primary" ng-click="addBest()">Add</button>
            </td>
        </tr>
        
        <tr ng-repeat="best in bests">
            <td>{{best.country}}</td>
            <td>{{best.year}}</td>
            <td>{{best.album}}</td>
            <td>{{best.radio}}</td>
            <td>{{best.song}}</td>
            <td><button class="btn btn-danger" ng-click="deleteBest(best.country,best.year)">Delete</button></td>
            <td><a href="/#!/best-stats/{{best.country}}/{{best.year}}"><button class="btn btn-secundary" >Update</button></a></td>
           
        </tr>
       <tr >
            <td>From: <input class="form-control" ng-model="from"/></td>
            <td>To: <input class="form-control" ng-model="to"/> </td>
            <td><button class="btn btn-secundary" ng-click="Busqueda(from,to)">Buscar</button></td>
            <td></td>
            <td></td>
            <td><button class="btn btn-danger" ng-click="deleteAll()">Delete All</button></td>
            <td><button class="btn btn-secundary" ng-click="inicializar()">Inicializar</button></td>
            
           
        </tr>
    </tbody>
</table>
<hr/>
<div>
    
      Contraseña: <input  ng-model="apikey"/>   <button class="btn btn-secundary" ng-click="seguro(apikey)"> Aceptar </button>
      
</div>
<div>
    <p align="center"> 
    <button class="btn btn-secundary" ng-click="getAnterior()"> < </button> 
    <a href="/"><button class="btn btn-warning">Inicio</button></a>
    <button class="btn btn-secundary" ng-click="getSiguiente()"> > </button>
</div>
<div>{{status}}</div>
