<h1>Most Popular Albums per Country</h1>
<table class="table">
    <thead>
        <tr>
            <th>Country</th>
            <th>Year</th>
            <th>Title</th>
            <th>Certification</th>
            <th>Rank</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input class="form-control" ng-model="newCountry.country"/></td>
            <td><input class="form-control" ng-model="newCountry.year"/></td>
            <td><input class="form-control" ng-model="newCountry.title"/></td>
            <td><input class="form-control" ng-model="newCountry.certification"/></td>
            <td><input class="form-control" ng-model="newCountry.rank"/></td>
            <td><button class="btn btn-primary" ng-click="addCountry()">Add</button>
            </td>
        </tr>
        
        <tr ng-repeat="country in countryStats"> 
            <td>{{country.country}}</td>
            <td>{{country.year}}</td>
            <td>{{country.title}}</td>
            <td>{{country.certification}}</td>
            <td>{{country.rank}}</td>
            
            <td><button class="btn btn-danger" ng-click="deleteRankInCountry(country.country,country.rank)">Delete</button></td>
            <td><button class="btn btn-danger" ng-click="deleteCountry(country.country)">Delete</button></td>
            
            <td><a href="/#!/country-stats/{{country.country}}/{{country.rank}}"><button class="btn btn-secundary" >Update</button></a></td>
           
        </tr>
       <tr >
            <td>From: <input class="form-control" ng-model="from"/></td>
            <td>To: <input class="form-control" ng-model="to"/> </td>
            <td><button class="btn btn-secundary" ng-click="Busqueda(from,to)">Buscar</button></td>
            <td></td>
            <td></td>
            <td><button class="btn btn-danger" ng-click="deleteAll()">Delete All</button></td>
            
           
        </tr>
    </tbody>
</table>
<hr/>
<div>
    <a href="/"><button class="btn btn-secundary">Inicio</button></a>
      Contraseña: <input  ng-model="apikey"/>   <button class="btn btn-secundary" ng-click="seguro(apikey)"> Aceptar </button>
      
      
      
      
      
      <button class="btn btn-secundary" ng-click="getAnterior()"> < </button>
      <button class="btn btn-secundary" ng-click="getSiguiente()"> > </button>
      

</div>
<div>{{status}}</div>
