<h1 align="center">Most Popular Albums per Country</h1>
<div align="center">{{status}}</div>
<table class="table">
    <thead>
        <tr>
            <th>Country</th>
            <th>Rank</th>
            <th>Title</th>
            <th>Year</th>
            <th>Certification</th>
            
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input class="form-control" ng-model="newCountry.country"/></td>
            <td><input class="form-control" ng-model="newCountry.rank"/></td>
            <td><input class="form-control" ng-model="newCountry.title"/></td>
            <td><input class="form-control" ng-model="newCountry.year"/></td>
            <td><input class="form-control" ng-model="newCountry.certification"/></td>
            <td><button class="btn btn-primary" ng-click="addCountry()">Add</button>
            <td><button class="btn btn-primary" ng-click="loadInitialData()">Load Initial Data</button></td>
            </td>
        </tr>
        
        <tr ng-repeat="country in countryStats"> 
            <td>{{country.country}}</td>
            <td>{{country.rank}}</td>
            <td>{{country.title}}</td>
            <td>{{country.year}}</td>
            <td>{{country.certification}}</td>
            
            
            <td><button class="btn btn-danger" ng-click="deleteRankInCountry(country.country,country.rank)">Delete</button></td>
            <td><button class="btn btn-danger" ng-click="deleteCountry(country.country)">Delete country stats</button></td>
            
            <td><a href="/#!/country-stats/{{country.country}}/{{country.rank}}"><button class="btn btn-secundary" >Update</button></a></td>
           
        </tr>
       <tr >
            <td>From: <input class="form-control" ng-model="from"/></td>
            <td>To: <input class="form-control" ng-model="to"/> </td>
            <td><button class="btn btn-secundary" ng-click="Busqueda(from,to)">Buscar</button></td>
            <td></td>
            <td></td>
            <td><button class="btn btn-danger" ng-click="deleteAll()">Delete All</button></td>
            
            
           
        </tr>
    </tbody>
</table>
<hr/>
<div>
    
      Contraseña: <input  ng-model="apikey"/>   <button class="btn btn-secundary" ng-click="seguro(apikey)"> Aceptar </button>
      
      
      
      <button class="btn btn-secundary" ng-click="getAnterior()"> < </button>
      <button class="btn btn-secundary" ng-click="getSiguiente()"> > </button>
      

</div>
    
    <p align="center"> <a href="/"><button class="btn btn-warning">Inicio</button></a> <button type="button" class="btn btn-warning" ng-click="getCompleto()">Api Completa</button> <button type="button" class="btn btn-warning" ng-click="get()">Back</button></p>

        
        
<div> </div>       
    <p>Tips:</p>
    <p>    - Country and Rank identify each item.</p>
    <p>    - No attribute should be blank when you "Add" a new item.</p>
    <p>    - "Load Initial Data" creates 10 preset items when the api is empty.</p>
    <p>    - You can "Update" an item but never change its Rank or Country.</p>
    <p>    - "Delete Country Stats" removes all items that belong to said country from the api.</p>
     
