<h1><p align="center">Most Popular Albums per Country</p></h1>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb bg-dark">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active text-white" aria-current="page">Country stats</li>
  </ol>
</nav>

<div align="center">{{status}}{{Hola}}</div>
<table class="table bg-dark text-white">
    <thead>
        <tr>
            <th>Country</th>
            <th>Rank</th>
            <th>Title</th>
            <th>Year</th>
            <th>Certification</th>
            
        </tr>
    </thead>
    <tbody> 
        <tr>
            <td><input class="form-control" ng-model="newCountry.country"/></td>
            <td><input class="form-control" ng-model="newCountry.rank"/></td>
            <td><input class="form-control" ng-model="newCountry.title"/></td>
            <td><input class="form-control" ng-model="newCountry.year"/></td>
            <td><input class="form-control" ng-model="newCountry.certification"/></td>
            <td><button class="btn btn-primary" ng-click="addCountry()">Add Item</button>
            <td><button class="btn btn-primary" ng-click="loadInitialData()">Load Initial Data</button></td>
            </td>
        </tr>
        
        <tr ng-repeat="country in countryStats"> 
            <td>{{country.country}}</td>
            <td>{{country.rank}}</td> 
            <td>{{country.title}}</td>
            <td>{{country.year}}</td>
            <td>{{country.certification}}</td>
            
            
            <td><button class="btn btn-danger" ng-click="deleteRankInCountry(country.country,country.rank)">Delete Item</button></td>
            <td><button class="btn btn-danger" ng-click="deleteCountry(country.country)">Delete Country Stats</button></td>
            
            <td><a href="/#!/country-stats/{{country.country}}/{{country.rank}}"><button class="btn btn-secundary" >Update</button></a></td>
           
        </tr>
       <tr >
            <td>From: <input class="form-control" ng-model="from"/></td>
            <td>To: <input class="form-control" ng-model="to"/> </td>
            <td><button class="btn btn-secundary" ng-click="Busqueda(from,to)">Search</button></td>
            <td></td>
            <td></td>
            <td><button class="btn btn-danger" ng-click="deleteAll()">Delete All Items</button></td>
            
            
           
        </tr>
    </tbody>
</table>
<hr/>
<div>
    
      Password: <input  ng-model="apikey"/>   <button class="btn btn-secundary" ng-click="seguro(apikey)"> Ok </button>
      
      

</div>
    
     <p align="center"><button class="btn btn-secundary" ng-click="getAnterior()"> < </button> <button class="btn btn-secundary" ng-click="getSiguiente()"> > </button></p>

        
        
<div id= "analytics"> </div>   




    <p>Tips:</p>
    <p>    - Country and Rank identify each item.</p>
    <p>    - No attribute should be blank when you "Add" a new item.</p>
    <p>    - "Load Initial Data" restarts the database with 20 preset items.</p>
    <p>    - You can "Update" an item but never change its Rank or Country.</p>
    <p>    - "Delete Country Stats" removes all items that belong to said country from the api.</p>
     
